# MakeFile Variables
DIST=""             # Makefile Linux Distro.                  Example: DIST="almalinux"
VER=""              # Makefile Linux Distro Release Version.  Example: VER=9

# Variables Environment
IFACE=""            # <-- Add your Host Interface Device (i.e.: eth0)
BASEIP=""           # <-- Add your desired IP address index (i.e.: 192.168.0.10)
NETMASK=""          # <-- Add the netmask based on your local network configuration (i.e.: 255.255.255.0)
GATEWAY=""          # <-- Add the Default Gateway based on your local network configuration (i.e.: 192.168.0.1)
PREFIX="vm"         # <-- Replace for your desired VM name index.
MEMORY="1024"       # <-- Replace for your desired memory ram.
CPU="1"             # <-- Replace for your desired memory CPU.
GROUP="MyLabs"      # <-- Replace for your desired VM group.
PUBKEY=""           # <-- Add your SSH Pub key hash